# Default owners are TOC, release leads and Eventing writers
* @knative-sandbox/eventing-kafka-approvers @knative-sandbox/eventing-writers @knative-sandbox/knative-release-leads @knative-sandbox/technical-oversight-committee

# hack and test are owned by productivity
/hack/* @knative-sandbox/productivity-wg-leads @knative-sandbox/eventing-kafka-approvers @knative-sandbox/eventing-writers @knative-sandbox/knative-release-leads @knative-sandbox/technical-oversight-committee
/test/* @knative-sandbox/productivity-wg-leads @knative-sandbox/eventing-kafka-approvers @knative-sandbox/eventing-writers @knative-sandbox/knative-release-leads @knative-sandbox/technical-oversight-committee
