# System Files
.DS_Store
Thumbs.db

# Build Artifacts
build/*/coverage.out
build/receiver/eventing-kafka-channel
build/controller/kafka-channel-controller
build/dispatcher/eventing-kafka-dispatcher

# Telepresence Logs
telepresence.log
